body {
    margin: auto;
    background-color: rgba(245, 222, 179, 0.658) !important;
    font-family: Arial, sans-serif;
}

header img {
    display: inline-block;
    margin-right: .5rem;
    width: 20px;
}

main img {
    width: 25%;
}

.principal{
    color: white;
    text-shadow: black 1px 3px 5px;
    background-color: #2196F3;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0 , 0 , 0 , 0.08)
}

#titulo{
    font-size: 45px;

}

#titulo2{
    margin: 4rem 0 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 145, 0, 0.527);
    text-shadow: black 1px 3px 5px;
    padding: 12px;
    color: white;
}

.login a:first-child::after {
    content: " / ";
    margin: 0 3px;
    color: white;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline;
    letter-spacing: 2px;
    margin: 0 10px;

}

a {
    text-decoration: none;
    color: black;
    color: white;
    transition: 0.3s;

}

a:hover {
color: #ED9205;

}

.logo p {
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

main {
    margin-top: 50px;
}

section.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

main .pesquisa {
    width: 60%;
    padding: 20px 0;
    border-radius: 80px;
    display: flex;
}

form.pesquisa input[type=search] {
    padding: 20px;
    font-size: 17px;
    border: 1px rgb(219, 218, 218) solid;

    width: 80%;
    background: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 10px 10px 30px rgba(0 , 0 , 0 , 0.08);
}

input[type=search]:focus {
    outline: none;
}

form.pesquisa button {

    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    transition: 0.3s;
    box-shadow: 10px 10px 30px rgba(0 , 0 , 0 , 0.08);
}

form.pesquisa button:hover {
    background: #0b7dda;
}

form.pesquisa::after {
    content: "";
    clear: both;
    display: table;
}

.artigos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 5px solid rgba(255, 145, 0, 0.527);
    text-transform: uppercase;
    padding: 3rem 0 5rem;
    gap: 2rem;
}

.artigos_filho {
    border-radius: 10px;
    border: 1px solid;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 145, 0, 0.527);
    color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.644) 2px 2px 10px;
    transition: .3s;
}

.artigos_filho:hover {
    transform: scale(105%);
}

.artigos_filho img {
    width: 100%;
    display: block;
}

.btn_destaque {
    padding: 15px;
    background: #2196F3;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn_destaque:hover {
    background: #0584ec;
}

.btn_destaque::after {
    content: "";
    clear: both;
    display: table;
}

footer{
    text-align: center;
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    height: 50px;
}

footer p {
    line-height: 50px;
}

@media (max-width: 940px) {
    form.pesquisa input[type=search] {
        width: 70%;
    }

    form.pesquisa button {
        width: 40%;
        padding: 5px;
    }

    main .pesquisa {
        width: 90%;
    }

    nav ul li {
        letter-spacing: 0;
        margin: 0 10px;
    
    }
    
}